body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: auto;
  height: auto;
}

#rtc {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

#localVideoContainer {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  max-height: 20%;
}
#remoteVideoContainer video {
  min-width: 200px;
  min-height: 240px;
}
#remoteVideoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.remoteUser {
  width: 25%;
}
#messagesContainer ul {
  max-height: 300px;
  overflow: auto;
  list-style: none;
}
